includes:
	- vendor/proget-hq/phpstan-phpspec/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    specDir: 'spec/'
    ignoreErrors:
        # PHPStan extension bug
        - '/^PHPDoc tag \@param for parameter \$collaborators with type array<int, PhpSpec\\Wrapper\\Collaborator> is incompatible with native type/'

        # Replaced `'` with `.`, could not figure out how to escape single quotes
        - '/^Call to function method_exists\(\) with .Symfony\\\\Component…. and .getRootNode. will always evaluate to false\.$/'
