includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 6

    reportUnmatchedIgnoredErrors: false

    paths:
        - 'src/'
        - 'tests/'

    excludePaths:
        - 'tests/Application/**.php'

    ignoreErrors:
        - '/Property .*\:\:\$container has no type specified\./'
        - '/Static property .*\:\:\$container \(.*\\Test\\TestContainer\) does not accept Symfony\\Component\\DependencyInjection\\ContainerInterface\./'
        - '/PHPDoc tag \@var for variable \$manager contains unknown class Doctrine\\ODM\\MongoDB\\DocumentManager\./'
        - '/PHPDoc tag \@var for variable \$manager contains unknown class Doctrine\\ODM\\PHPCR\\DocumentManagerInterface\./'
        - '/PHPDoc tag \@var with type Doctrine\\ODM\\MongoDB\\DocumentManager is not subtype of native type/'
        - '/PHPDoc tag \@var with type Doctrine\\ODM\\PHPCR\\DocumentManagerInterface is not subtype of native type/'
        - '/Call to static method Webmozart\\Assert\\Assert::\w+\(\) .* will always evaluate to true\./'
        - '/PHPDoc tag \@var with type .* is not subtype of native type .*MockObject\./'
        - '/Call to function method_exists\(\) with Symfony\\Bundle\\FrameworkBundle\\Console\\Application and .addCommand. will always evaluate to (true|false)\./'
        - '/Call to an undefined method Symfony\\Bundle\\FrameworkBundle\\Console\\Application\:\:add\(\)\./'
